/* pure.css imported in main.js */

.control-container {
  text-align: center;
  box-sizing: border-box;
  padding: 2em;

  .shadow {
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .09%);
    height: 100%;
    padding: 1em;
    box-sizing: border-box;
    transition: box-shadow 300ms;

    border-radius: 20px;
  }
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  padding: 2em;
  max-width: 1080px;
  margin: 0 auto;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

hr {
  background-color: rgba(0,0,0,0.09);
  border: 0;
  height: 1px;
}
